<!-- wp:block {"ref":2026} /-->

<!-- wp:query-title {"type":"archive","textAlign":"center"} /-->

<!-- wp:term-description /-->

<!-- wp:query {"queryId":22,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-author {"showBio":true,"isLink":true,"linkTarget":"_blank","fontSize":"medium"} /-->

<!-- wp:post-template -->
<!-- wp:columns {"verticalAlignment":"center"} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","width":"25%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:25%"><!-- wp:post-featured-image {"isLink":true} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"75%"} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:75%"><!-- wp:post-title {"isLink":true} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:archives {"showPostCounts":true,"type":"yearly","style":{"spacing":{"margin":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}},"fontSize":"medium"} /-->

<!-- wp:post-terms {"term":"post_tag"} /-->

<!-- wp:tag-cloud /-->